 .app {
  text-align: center;
  margin-top: 200px;
  display: flex;
  justify-content: space-evenly;
  
}
.App{
  text-align: center;
  
 
}
.h1{
  font-size: 40px;
}
.btn1{
  font-size: larger;
  border-radius: 10px;
  background-color: black;
  color: white;
  border: 1px solid black;
}
.btn2{
  font-size: larger;
  border-radius: 10px;
  background-color: black;
  color: white;
  border: 1px solid black;

}
.btn3{
  font-size: larger;
  border-radius: 10px;
  background-color: black;
  color: white;
  border: 1px solid black;

}
.btn4{
  font-size: larger;
  border-radius: 10px;
  background-color: black;
  color: white;
  border: 1px solid black;

}
.btn5{
  font-size: larger;
  border-radius: 10px;
  background-color: black;
  color: white;
  border: 1px solid black;

}

